COMMIT_BOT_TOKEN=
COMMIT_BOT_ADMIN_ID=
COMMIT_BOT_REPO_PATH=
COMMIT_BOT_TARGET_FILE=
COMMIT_BOT_MIN_PER_DAY=
COMMIT_BOT_MAX_PER_DAY=
COMMIT_BOT_WINDOW_START_HOUR=
COMMIT_BOT_WINDOW_END_HOUR=
COMMIT_BOT_LANG=